<div class="banner-container mb-3 d-flex justify-content-center align-content-center ">
  <div class="banner-box mb-5 mt-5 d-flex justify-content-center align-content-center col-md-10 col-12 mx-auto">
    <img src="https://bytesed.com/wp/appside/land/assets/img/elementor-block.png" alt="img">
    <h2 class="mt-4">Aapside Build With</h2>
    <h2><span>Elementor </span>Page Builder.</h2>
  </div>

  <div class="banner-box mb-5 mt-5 d-flex justify-content-center align-content-center col-md-10 col-12 mx-auto">
    <h2 class="mt-4">Aapside Have</h2>
    <h2 class="mb-4"><span>100+ </span>Elementor Custom Addon.</h2>
    <img src="https://bytesed.com/wp/appside/land/assets/img/elementor-block.png" alt="img">
  </div>

  <div class="banner-box mb-5 mt-5 d-flex justify-content-center align-content-center col-md-10 col-12 mx-auto">
    <img src="https://bytesed.com/wp/appside/land/assets/img/elementor-addons.png" alt="img">
    <h2 class="mt-4">Aapside With</h2>
    <h2><span>WooCommerce </span>Integrated.</h2>
  </div>
</div>