<div class="form-container d-flex justify-content-center align-content-center f-col">
      <form class="d-flex justify-content-center align-content-center f-col border-b mx-auto p-3" method="post" action="/contact">

        <div id="title">
          <lable class="title text-center mx-auto">registration form</lable>
        </div>

        <!---------- NAME ---------->
        <div class="mt-5 br-5">
          <div class="input-box" id="name-box">
            <span class="icon"><i class="fa-solid fa-user" style="color: white;"></i></span>
            <input type="text" name="name" id="name" onkeyup="names()">
          </div>
          <span id="res-name"></span>
        </div>
        <!---------- EMIL ---------->
        <div class="mt-4 br-5">
          <div class="input-box" id="email-box">
            <span class="icon"><i class="fa-solid fa-envelope" style="color: white;"></i></span>
            <input type="email" name="email" id="email" onkeyup="emails()">
          </div>
          <span id="res-email"></span>
        </div>
        <!---------- PASSWORD ---------->
        <div class="mt-4 br-5">
          <div class="input-box" id="pass-box">
            <span class="icon"><i class="fa-solid fa-lock" style="color: white;"></i></span>
            <input type="password" name="password" id="password" onkeyup="passwords()">
          </div>
          <span id="res-pass"></span>
        </div>
        <!---------- CONFIRM PASSWORD ---------->
        <div class="mt-4 br-5">
          <div class="input-box" id="conPass-box">
            <span class="icon"><i class="fa-solid fa-lock" style="color: white;"></i></span>
            <input type="password" name="conPass" id="conPass" onkeyup="confirmPassword()">
          </div>
          <span id="res-conPass"></span>
        </div>
        <!---------- SHOW PASSWORD ---------->
        <div class="mt-5 showPass br-5 mx-auto">
          <span class="f">show password</span>
          <input type="radio" onclick="show()">
        </div>
        <!---------- SUBMIT BUTTON ---------->
        <div class="mt-4 mb-3 br-5">
          <input type="submit" class="btn btn-primary" id="submit">
        </div>

      </form>
    </div>


  </body>
  <script src="contact.js"></script>
</html>