<div class="features-container d-flex justify-content-center align-content-center">
  <h3 class="mb-2 mt-5 mx-auto text-center">what you get</h3>
  <h2 class="mb-4 mx-auto text-center">Awesome Features</h2>

  <div class="features-item-box d-flex justify-content-center align-content-center col-md-10 col-12 mx-auto">

    <div class="feature-item">
      <img src="https://bytesed.com/wp/appside/land/assets/img/icons/19.png" alt="img">
      <p class="mt-3">
        WooCommers
      </p>
    </div>
    <div class="feature-item">
      <img src="https://bytesed.com/wp/appside/land/assets/img/icons/18.png" alt="img">
      <p class="mt-3">
        WooCommers
      </p>
    </div>
    <div class="feature-item">
      <img src="https://bytesed.com/wp/appside/land/assets/img/icons/19.png" alt="img">
      <p class="mt-3">
        WooCommers
      </p>
    </div>
    <div class="feature-item">
      <img src="https://bytesed.com/wp/appside/land/assets/img/icons/18.png" alt="img">
      <p class="mt-3">
        WooCommers
      </p>
    </div>
    <div class="feature-item">
      <img src="https://bytesed.com/wp/appside/land/assets/img/icons/19.png" alt="img">
      <p class="mt-3">
        WooCommers
      </p>
    </div>
    <div class="feature-item">
      <img src="https://bytesed.com/wp/appside/land/assets/img/icons/18.png" alt="img">
      <p class="mt-3">
        WooCommers
      </p>
    </div>
    <div class="feature-item">
      <img src="https://bytesed.com/wp/appside/land/assets/img/icons/19.png" alt="img">
      <p class="mt-3">
        WooCommers
      </p>
    </div>
    <div class="feature-item">
      <img src="https://bytesed.com/wp/appside/land/assets/img/icons/18.png" alt="img">
      <p class="mt-3">
        WooCommers
      </p>
    </div>
    <div class="feature-item">
      <img src="https://bytesed.com/wp/appside/land/assets/img/icons/19.png" alt="img">
      <p class="mt-3">
        WooCommers
      </p>
    </div>

  </div>
</div>