<div class="firstContainer d-flex justify-content-center align-content-start">
  <div class="first-desBox">
    <h2>Create Your Awesome Social App <br>Landing Page with<span> STOFILAR</span></h2>
    <p>
      App Landing Page is the perfect app showcase WordPress Theme. Aapside is a better way to present your modern business. It’s easy to customize and also well documented and child theme included. it also compatible with Desktop, laptop, mobile and also compatible with major browsers.
    </p>
    <div class="buttons-box">
      <butoon type="button" class="btn btn-primary">purchase</butoon>
      <button type="button" class="btn btn-outline-dark">explore</button>
    </div>
  </div>
</div>