<div class="product-container d-flex justify-content-center align-content-start col-md-10 col-12 mx-auto mt-2">

  <h2 class="mx-auto text-center mt-3"><span>+10</span> Premade Home Page</h2>

  <div class="product-box col-12 col-md-10 mx-auto">
    <div class="proImg-box">
      <span class="badge text-bg-success">new</span>
      <img src="https://bytesed.com/wp/appside/land/assets/img/demo/31.png" alt="img">
    </div>
    <div class="proImg-box">
      <span class="badge text-bg-success">new</span>
      <img src="https://bytesed.com/wp/appside/land/assets/img/demo/32.png" alt="img">
    </div>
    <div class="proImg-box">
      <span class="badge text-bg-success">new</span>
      <img src="https://bytesed.com/wp/appside/land/assets/img/demo/31.png" alt="img">
    </div>
    <div class="proImg-box">
      <span class="badge text-bg-success">new</span>
      <img src="https://bytesed.com/wp/appside/land/assets/img/demo/32.png" alt="img">
    </div>
    <div class="proImg-box">
      <span class="badge text-bg-success">new</span>
      <img src="https://bytesed.com/wp/appside/land/assets/img/demo/31.png" alt="img">
    </div>
    <div class="proImg-box">
      <span class="badge text-bg-success">new</span>
      <img src="https://bytesed.com/wp/appside/land/assets/img/demo/32.png" alt="img">
    </div>
  </div>
</div>