<div class="testmonial-container d-flex justify-content-center align-content-center">
  <h5 class="mx-auto text-center">About Upside</h5>
  <h2 class="mx-auto text-center">What Customer Says</h2>

  <div class="testmonial-box d-flex justify-content-center align-content-center col-md-10 col-12 mx-auto">
    <span class="quotes"><i class="fa fa-quote-right"></i></span>
    <p>
      The theme looks great and it's fast but one cherry on the top is quick to support by the author. I had an issue while importing the demo and they responded with the solution even before I could go back and check the inbox again. Totally blown away with this. Much recommended theme and author.
    </p>
    <span class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </span>
    <span class="customer">mardin wolf</span>
  </div>
  <div class="testmonial-box d-flex justify-content-center align-content-center col-md-10 col-12 mx-auto">
    <span class="quotes"><i class="fa fa-quote-right"></i></span>
    <p>
    Worth every penny. Need not think twice before buying. Earlier I bought and discarded many themes because of less customizability but this one really blew my mind. Support is prompt and fast. Awsome work
    </p>
    <span class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </span>
    <span class="customer">mardin wolf</span>
  </div>
  <div class="testmonial-box d-flex justify-content-center align-content-center col-md-10 col-12 mx-auto">
    <span class="quotes"><i class="fa fa-quote-right"></i></span>
    <p>
    An excellent template with unlimited possibilities. I have tried various available here, however this is one of the better ones. It works fast, flawlessly and most importantly the author supports in case of problems. I recommend to everyone.
    </p>
    <span class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </span>
    <span class="customer">mardin wolf</span>
  </div>

</div>