<div class="theme-container mb-5 d-flex justify-content-center align-content-start col-md-10 col-12 mx-auto mt-2">

  <h2 class="mx-auto text-center mt-3"><span>+20</span> Themes</h2>

  <div class="theme-box col-12 col-md-10 mx-auto">
    <div class="theImg-box">
      <span class="badge text-bg-success">new</span>
      <img src="https://bytesed.com/wp/appside/land/assets/img/header/1.png" alt="img">
    </div>
    <div class="theImg-box">
      <span class="badge text-bg-success">new</span>
      <img src="https://bytesed.com/wp/appside/land/assets/img/header/2.png" alt="img">
    </div>
    <div class="theImg-box">
      <span class="badge text-bg-success">new</span>
      <img src="https://bytesed.com/wp/appside/land/assets/img/header/3.png" alt="img">
    </div>

  </div>
</div>